header {
    background-color: #2F4F4F;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.form-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2F4F4F;
    width: 30%;
    min-width: 569px;
    height: 40px;
}

.table-area {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-height: 20%;
    width: 30%;
    min-width: 475px;
    background-color: #2F4F4F;
    border-radius: 10px;
    padding: 10px;
}

.table {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0px;
    border-collapse: collapse;
}

.table-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: max-content;
    margin-bottom: 10PX;
}

.table-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: max-content;
}

.table-item:nth-child(even) {
    background-color: #dddddd;
  }

.table-item:hover {
    background-color: bisque;
}

td, th {
    border: 1px solid #dddddd;
    border-width: 100%;
    text-align: left;
    height: 100%;
    width: 100%;
}

.form-input {
    margin: 10px;
}

.add-button {
    background-color: #ADFF2F;
    height: 100%;
    width: 40px;
    border: 0px;
    font-weight: bold;
}

.remove-button {
    background-color: #F08080;
    height: 100%;
    width: 40px;
    font-weight: bold;
}